<p>
  law-review works!
</p>

<div class="card-container" align="center">
  <md-card>
    <md-list *ngFor="let law of laws">
      <md-list-item> {{law.name}} </md-list-item>
    </md-list>
  </md-card>
</div>
