
md-card{
    width: 600px;
    box-sizing: border-box;
    margin: 16px;
}

.card-container{
    display: flex;
    flex-flow: column nowrap;
}

.container {
    width:616px;
}


#imgFile{
    display: none;
}